*
  font-smooth: always
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1, .font-h1
  font: $fw-light ($font-base * 8.5) /1.2 $ff-primary
  letter-spacing: -0.01em
  text-indent: 0
  white-space: nowrap
h2, .font-h2
  font: $fw-light ($font-base * 5.25) /1.2 $ff-primary
  letter-spacing: -0.005em
  text-indent: 0
  white-space: nowrap
h3, .font-h3
  font: $fw-light ($font-base * 3.25) /1.2 $ff-primary
  letter-spacing: normal
  text-indent: 0
h4, .font-h4
  font: $fw-bold ($font-base * 2) /1.2 $ff-primary
  letter-spacing: normal
  text-indent: 0
h5, .font-h5
  font: $fw-bold ($font-base * 1.24) /1.5 $ff-primary
  letter-spacing: normal
  text-indent: 0
.font-b
  font: $fw-regular $font-base /1.5 $ff-primary
  letter-spacing: 0.02em
  text-indent: 0
.font-f
  font: $fw-regular ($font-base * 1.24) /1.2 $ff-primary
  letter-spacing: normal
  text-indent: 0