.text
  &-center
    text-align: center
  &-left
    text-align: left
  &-right
    text-align: right
  &-disabled
    color: rgba(colors.dark-secondary, 0.5)
  &-success
    color: $status-success !important;
  &-danger
    color: $status-danger !important;
  &-small
    font-size: 85%

.pull
  &-left
    float: left
  &-right
    float: right

.padding
  padding-top: ($gap * 2)
  padding-bottom: ($gap * 2)
  &-lg
    padding-top: ($gap * 5)
    padding-bottom: ($gap * 5)

.margin
  margin-top: ($gap * 2)
  margin-bottom: ($gap * 2)
  &-top
    margin-top: ($gap * 2)
  &-btm
    margin-bottom: ($gap * 2)
  &-top-lg
    margin-top: ($gap * 5)
  &-btm-lg
    margin-bottom: ($gap * 5)
