.ct-chart-bar
  g
    .ct-series
      &.ct-series-a
        line
          stroke: colors.brand-primary
      &.ct-series-b
        line
          stroke: colors.mcyellow
.ct-chart-pie
  .ct-series
    &.ct-series-a
      path
        fill: colors.mcyellow
    &.ct-series-b
      path
        fill: colors.status-danger
    &.ct-series-c
      path
        fill: colors.brand-primary
  .ct-label
    fill: #fff
.ct-label
  color: #aaa