// GRID VARIABLES

$desktop-min-width = 960px
$gap = 10px
$col-count = 16

// FONT VARIABLES

$ff-primary = 'Roboto', Helvetica, Arial, sans-serif

$font-base = 14px

$fw-extrabold = 700
$fw-bold = 500
$fw-regular = 400
$fw-light = 300

// COLOR VARIABLES

colors = {
  brand-primary: #0391d6,
  dark-primary: #4d5562,
  dark-secondary: #363c45,
  status-success: #55b211,
  status-danger: #ea3527,
  text-dark: #555,
  text-light: rgba(#fff, 0.85),
  windows: #00adef,
  facebook: #3c5a99,
  google: #dc4a38,
  linkedin: #006699,
  mcyellow: #fdc12d
}